<h1>All the events you have created</h1>

<% if @user.created_events.any? %>
  <% @user.created_events.each do |event| %>
    <li>
      Location: <strong><%= event.location %></strong> - <%= event.date %>
    </li>
    <% end %>
  </ul>
<% else %> 
  <p>You haven't created any events yet.</p>
  <%# <%= link_to, 'Create Event' %>
<% end %>
