<h1>All the events you have created</h1>

<p>You're logged in as: 
  <%= @user.email %>
</p>

<% if @user.created_events.any? %>
  <% @user.created_events.each do |event| %>
    <li>
      Location: <strong><%= event.location %></strong> - <%= event.date %>
    </li>
    <% end %>
  </ul>
<% else %> 
  <p>You haven't created any events yet.</p>
<% end %>

<%= link_to 'Create Event', new_event_path %>
