<h1>All Events</h1>

<% if @events.any? %>
  <ul>
  <% @events.each do |event| %>
    <li>
      Location: <strong><%= event.location %></strong> - <%= event.date %>
    </li>
    <% end %>
  </ul>
<% else %> 
  <p>No events planned yet.</p>
<% end %>

<%= link_to 'Create Event', new_event_path %>
