<h1>Event Info</h1>

<p>Location: <strong> <%= @event.location %> </strong> - <%= @event.date %> </p>

<h2>Attendees</h2>
<% if @event.attendees.any? %>
  <li>
      <% @event.attendee.each do |attendee| %>
        <%= attendee.email %>
      <% end %>
  </li>
<% else %> 
  <p>So far, only <%= @event.creator.email %>, the host, is attending. </p>
<% end %>
